<div class="container" id="background">
	<h1> Feely </h1>
	<h2> Choose a Color </h2>

<div class="colors-container">
	<% @colors.each do |color| %>
	<a href="/colors/<%= color.id %>/stories/new">
	<div class="color-selection" id="<%=color.name %>"></div></a>
	<% end %>
</div>

<h2> <%= link_to "Straight to the Feed", stories_all_path %> </h2>
</div>
