/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#orange { background-color:#E36B23; }
#blue   { background-color:#4584BE; }
#yellow { background-color:#E6C92E; }
#purple { background-color:#9E65E8; }
#red    { background-color:#FF4A38; }
#green  { background-color:#5DA028; }
#pink   { background-color:#FF65C6; }
#black  { background-color:#303030; }
#white  { background-color:#FDF5E6; }

body {
  margin: 0px auto;
  border-top: 24px solid #000;
}

#bottom {
  background: #000;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 24px;
}

.color-selection{
  display:inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 32px 8%;
}

.colors-container {
  width: 63%;
  margin: 0 auto 32px;
}

#background{
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1, h2, h3 {
  color: #3B3B3B;
  text-align: center;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  padding: 10px;
  font-size: 2.8em;
}

h1 {
  letter-spacing: 2px;
  padding-top: 10px;
}

h2 {
  font-weight: 300;
  font-size: 2.4em;
}

h3 {
  font-weight: 200;
  font-size: 1.6em;
}

.container {
  margin: 0 auto 24px;
  width: 100%;
  height: 100%;
  z-index: -2;
  text-align: center;
  padding: 20px 0;
}

label {
  display: none;
}

input {
  border: 0 solid #FFF;
  font-size: 2.4em;
  width: 100%;
  color: #3B3B3B;
  background-color: #F0F0F0;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  padding: 4px 12px;
  display: block;
  margin: 16px auto;
  border-radius: 4px;
}

input:focus {
  outline: none;
}

input#submit-story-btn {
  font-size: 1.2em;
  width: 72px;
  height: 32px;
  letter-spacing: 2px;
  background-color: #FF9051;
}

p, li {
  font-size: 1.2em;
  line-height: 1.4em;
  color: #3B3B3B;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

#black p, #blue p, #orange p, #pink p {
  color: #F0F0F0;
}

a {
  color: #3B3B3B;
  text-decoration: none;
}

a:hover {
  color: #FF65C6;
}

a:active {
  color: #9E65E8;
}

.story {
  border-radius: 4px;
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 32px 4%;
  padding: 64px 12px;
  float: left;
}

.story-form {
  max-width: 600px;
  margin: 0 auto;
}

.color-id {
  display: none;
}

.download{font:19px 'FranchiseRegular','HelveticaNeue-Bold','League Gothic','Impact',sans-serif;color:#f4f1de;font-weight:normal;text-transform:uppercase;text-decoration:none;background:url(../img/download_btn.png) no-repeat -5px center;height:55px;width:160px;padding:0px 10px;display:block;line-height:60px;font-weight:normal;position:relative;top:-8px;left:-10px;}
#logo{font-weight: normal;text-transform:uppercase;font-family:'FranchiseRegular','HelveticaNeue-Bold','League Gothic','Impact',sans-serif;font-size:160px;margin-bottom:-32px;margin-left:10px;color:#c44032;text-shadow:#863027 -4px 4px 0;margin-top:30px;}
#logo span{display:inline-block;position:relative;letter-spacing:-1px;-webkit-transition:all 0.2s ease-out;}
#logo span:hover{top:3px}
#logo .char2 {color:#e36b23;text-shadow:#9b4d1f -4px 4px 0}
#logo .char3 {z-index:10;color:#e6c92e;text-shadow:#9c8b26 -4px 4px 0}
#logo .char4 {color:#5da028;text-shadow:#427021 -4px 4px 0}
#logo .char5 {color:#4584be;text-shadow:#2f597f -4px 4px 0}
#logo .char6 {color:#7073cf;text-shadow:#4a4d88 -4px 4px 0}
#logo .char1{-webkit-transform:rotate(-3deg)}
#logo .char3{top:-1px;-webkit-transform:rotate(2deg)}
#logo .char4{top:-7px}
#logo .char6{top:-7px;-webkit-transform:rotate(2deg)}

#logo {
  margin-top: 0px;
}
