<h1> Feely </h1>

<h2> Choose a Color </h2>
<div class="colors-container">
  <div class="color-selection" id="red"></div>
  <div class="color-selection" id="green"></div>
  <div class="color-selection" id="yellow"></div>
  <div class="color-selection" id="white"></div>
  <div class="color-selection" id="blue"></div>
  <div class="color-selection" id="purple"></div>
  <div class="color-selection" id="black"></div>
  <div class="color-selection" id="orange"></div>
  <div class="color-selection" id="pink"></div>
</div>
