/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#orange { background-color:#FF9051; }
#blue   { background-color:#346DFF; }
#yellow { background-color:#FFF654; }
#purple { background-color:#9E65E8; }
#red    { background-color:#FF4A38; }
#green  { background-color:#86FF94; }
#pink   { background-color:#FF65C6; }
#black  { background-color:#303030; }
#white  { background-color:#FDF5E6; }

body {
  border-top: 24px solid #000;
  border-bottom: 24px solid #000;
  margin: 0 auto;
}

.color-selection{
  display:inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 32px 10%;
}

.colors-container {
  width: 80%;
  margin: 0 auto;
}

#background{
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1, h2 {
  color: #3B3B3B;
  text-align: center;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  padding: 10px;
  font-size: 2.4em;
}

h1 {
  letter-spacing: 2px;

}

h2 {
  font-weight: 300;
}

.container {
  width: 100%;
  height: 100%;
  z-index: -2;
  text-align: center;
}

label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
}

input {
  border: 0 solid #FFF;
  font-size: 1.6em;
  width: 500px;
  color: #3B3B3B;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

input:focus {
  outline: none;
}

input#submit-story-btn {
  font-size: 1.2em;
  width: 64px;
  letter-spacing: 2px;
}

li {
  font-size: 1.2em;
  line-height: 1.4em;
  color: #3B3B3B;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}
