// Place all the styles related to the Color controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#orange {	background-color:orange;	}
#blue 	{	background-color:blue;		}
#yellow {	background-color:yellow;	}
#purple {	background-color:purple;	}
#red 		{	background-color:red;			}
#green 	{	background-color:green;		}
#pink 	{	background-color:pink;		}
#black 	{	background-color:black;		}
#white 	{	background-color:white;		}
.color-selection{
	display:inline-block;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 30px 10%;
	border:groove 2px #99FFFF;
}


.colors-container {
	width: 80%;
	margin: 0 auto;
}
#background{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}

h1, h2 {
	color: #993300;
	text-align: center;

}
.container {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -2;
}
